.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 300px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  padding: 1rem;
  overflow: auto;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.sidebar a:hover {
  color: #047dffa4;
  transform: scale3d(1.1, 1.1, 1.1);
  transition: 0.3s ease-in-out;
}

.sidebar a:active {
  color: #000;
  transform: scale3d(0.9, 0.9, 0.9);
}

.sidebar .home {
  color: #ff0000a8;
  font-weight: 700;
  font-size: 30px;
}

.sidebar .active {
  font-weight: 700;
  font-size: 20px;
}