.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.footer {
  background: Transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);  padding: 1rem;
  position: fixed;
  left: 0;
  right: 0;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

.content{
  width: 400px;
  max-height: 70vh;
  background: Transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  margin-top: 150px;
}
.notice{
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);  padding: 1rem;
  position: fixed;
  left: 0;
  width: 200px;
  margin-top: 150px;
}
.stuff {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);  padding: 1rem;
  position: fixed;
  right: 0;
  width: 200px;
  margin-top: 150px;
}
.notice,
.content,
.stuff {
  padding: 1rem;
  text-align: center;
}
