.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 22vw;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  padding: 1rem;
  overflow: auto;
}

.sidebar > ul {
  list-style-type: none;
  padding: 0;
}

.sidebar > ul > li {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  padding-block: 18px;
  position: relative;
}

.sidebar > ul > li > a {
  text-decoration: none;
  color: #fffa;
}

.sidebar > ul > li > a:hover {
  color: #047dffa4;
  transform: scale3d(1.1, 1.1, 1.1);
  transition: 0.3s ease-in-out;
}

.sidebar > ul > li > a:active {
  color: #fff;
  transform: scale3d(0.9, 0.9, 0.9);
}

.sidebar .home {
  color: #aaa;
  font-weight: 700;
  font-size: 30px;
}

.sidebar .active {
  font-weight: 700;
  font-size: 20px;
}

/* Dropdown Styles */
.sidebar ul.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  color:#aaa;
  padding: 10px;
  border-radius: 4px;
}

.sidebar ul.dropdown li {
  margin-bottom: 5px;
}

.sidebar ul.dropdown li a {
  color: #fff;
}

.sidebar > ul > li:hover .dropdown {
  display: block;
}

@media (max-width: 768px) {
  .sidebar { display: none }
}
