.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box-container {
    display: flex;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }