.body {
	top: 90px;
	padding-bottom: 20px;
	align-items: center;
	justify-content: center; /* Add this line */
}

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; /* Add this line */
	padding: 30px;
}

.content-container {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* Add this line */
	overflow-x: auto;
	padding-bottom: 20px;
}

.welcome-container {
	margin-top: 90px;
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	align-items: center; /* Add this line */
	justify-content: center; /* Add this line */
}

.welcome-box {
	background-color: #efc9f6;
	padding: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	border-radius: 4px;
	margin-right: 20px;
	width: 90%;
	text-align: center;
	align-items: center;
	font-size: 24px;
}

.welcome-box h2 {
	margin: 0;
}

.calendar-container,
.picture-container,
.schedule-container {
	flex: 1;
	margin-right: 10px;
}

.schedule-container {
	margin-top: 20px;
}

.schedule-box {
	background-color: #fff;
	padding: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	border-radius: 5px;
}

.boxes-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.box {
	width: calc(40%- 6px); /* Adjust box size to 25% */
	margin-bottom: 20px;
	margin:20px;
}

.box:nth-child(odd) {
	background-color: #7dbbcb;
	margin-right: 20px;
}

.box:nth-child(2n) {
	background-color: #92bbdb;
}

.box:hover {
	background-color: #6f87b0;
}
.box a button {
    background-color: #004a95; /* Green */
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #fff;
    font-weight: bold;
}