/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Resetting default styles for all elements */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* Styling the body */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:flex;
  flex-direction:center;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  background:url('C:\Users\singh\Downloads\Untitled design(3).png') ;
  background-size:  cover;
  
  background-position: center;
}

/* Styling for code elements */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
